<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Device metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page properties -->
    <script type="module" src="/public/src/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/styles/login.css" />
    <title>Login</title>
</head>

<body>
    <form id="login-form">
        <label id="password-label" for="password">login</label>
        <input type="password" name="password" id="password" required autocomplete="off" autofocus>
    </form>
</body>

</html>